:root {
  --primary: rgb(100, 94, 91);
  --primary-varient: #6e532f;
  --secondary: #15657e;
  --secondary-varient: #000000;
  --base-spacing: 8px;
}

header,
section:nth-of-type(odd),
footer {
  background: white;
  color: blue;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  border: 15px inset rgb(109, 112, 116);
  /* makes image a circle */
  /* border-radius: 360px; */
  /* makes image 3d like */
  /* box-shadow: 40px 30px 0 black; */
  padding: 2px;
}

body {
  font-family: "Judson", serif;
  background: var(--secondary);
}

h1 {
  text-align: center;
  background: var(--secondary);
  font-size: 7em;
  margin: 0 2em 1em 2em;
  padding: 0.2%;
  color: var(--primary);
  text-shadow: -5px 0 #000000;
}

h2 {
  color: var(--primary);
  text-align: center;
  font-size: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-shadow: -5px 0 #000000;
}

li {
  font-size: 30px;
  color: var(--secondary-varient);
}

p {
  font-size: 32px;
  margin: calc(var(--base-spacing) * 2);
}

a {
  color: var(--secondary-varient);
  font-size: 30px;
}

.fas {
  font-size: 48px;
}

nav .fas {
  margin: 10px;
  transform: translateX(calc(100vw - var(--base-spacing) * 10));
  position: absolute;
}

.copy {
  font-size: 20px;
}

/* nav */
nav ul {
  list-style-type: none;
  text-align: center;
}

nav a {
  /* removing underlines */
  text-decoration: none;
}

ul {
  padding: 0;
}

nav {
  min-height: 72px;
}

.is-hidden {
  height: 0;
  font-size: 0;
}

.hero {
  background: url(https://picsum.photos/680/420/?blur) center center no-repeat;
  background-size: cover;
  height: 20vh;
  max-height: 420px;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}