:root {
  --primary: rgb(100, 94, 91);
  --primary-varient: #6e532f;
  --secondary:#15657e;
  --secondary-varient:#000000;;
}

header,
section:nth-of-type(odd),
footer {
  background: white;
  color: blue;
}

figure {
display: flex;
flex-direction: column;
align-items: center;
}

body {
  font-family: 'Judson', serif;
  background:var(--secondary);
  }

h1 {
  text-align: center;
  background: var(--secondary);
  font-size: 7em;
  margin: 0em, 2em, 1em, 2em;
  padding:0.2%;
  color: var(--primary);
  text-shadow:-5px 0 #000000;
}

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%; */
    border: 15px inset rgb(109, 112, 116);
    /* border-radius: 360px; */
    box-shadow: 40px 30px 0 black;
  }

  h2 {
  color: var(--primary);
  text-align: center;
  font-size: 80px;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-shadow:-5px 0 #000000;
  }

  li {
    font-size: 30px;
    color: var(--secondary-varient);
  }

  p {
    font-size: 32px;
    margin: calc(var(--base-spacing)*2);
  }

  a {
    color: var(--secondary-varient);
    font-size: 30px;
  }

.copy {
  font-size: 20px;
}

/* nav */
nav ul {
  list-style-type: none;
  text-align: center;
}

nav a {
  /* removing underlines */
  text-decoration: none;
}

nav li {
  padding: var(--base-spacing) 2px;
}

ul {
  padding: 0;

}
