:root {
  --background: #3f00ff52;
  --background-variant: #ffffff;
  --error: #b00020;
  --primary-text: #000000;
  --secondary-text: #000000;
  --wht-text: #ffffff;
  --border: #000000;
  --border-variant: #6d7074;
  --btn-back: #ad00b0bf;
  --base-spacing: 8px;
  --border-primary: solid var(--primary-variant) 3px;
  --foot-back: #ad00b033;
}

/* body */

body {
  font-family: "Titillium Web", sans-serif;
  background: var(--background);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* figure {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

figure,
h2 {
  margin: 0px;
}

img {
  display: block;
  border: 15px inset var(--border-variant);
  height: 120px;
  /* makes image a circle
  border-radius: 360px;
  makes image 3d like
  box-shadow: 40px 30px 0 black; */
}

section {
  display: flex;
  flex-direction: column;
  padding: calc(var(--base-spacing) * 3);
  margin: calc(var(--base-spacing) * 3);
}

section:nth-of-type(odd) {
  background: var(--background-variant);
}

h1 {
  font-size: calc(var(--base-spacing) * 4.5);
  padding: 0;
  color: var(--primary-text);
  /* text-shadow: -5px 0 #000000; */
}

h2 {
  color: var(--primary-text);
  font-size: calc(var(--base-spacing) * 3.5);
  text-align: center;
}

p {
  font-size: calc(var(--base-spacing) * 2.5);
  margin: calc(var(--base-spacing) * 1);
  color: var(--secondary-text);
}

/* nav */
nav .fas {
  margin: 10px;
  transform: translateX(calc(100vw - var(--base-spacing) * 10));
  position: absolute;
}

.fas {
  font-size: 40px;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav {
  min-height: 78px;
}

/* footer */

footer a {
  color: var(--wht-text);
}

footer ul {
  /* by default this will do flex direction row */
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: var(--btn-back);
}

footer p {
  font-size: calc(var(--base-spacing) * 1.5);
  margin: 0px;
}

/* class selectors */

.is-hidden--mobile {
  height: 0;
  font-size: 0;
}

.hero {
  background: url(https://picsum.photos/680/420/?blur) center center no-repeat;
  background-size: cover;
  height: 20vh;
  max-height: 420px;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero a,
.footer a,
nav a {
  /* removing underlines */
  text-decoration: none;
}

.hero a {
  display: inline-block;
  background-color: var(--secondary);
  padding: calc(var(--base-spacing) * 2);
  border-radius: var(--base-spacing);
  box-shadow: var(--base-spacing);
  font-size: calc(var(--base-spacing) * 2);
  background: var(--btn-back);
  color: var(--wht-text);
  font-weight: bold;
}

.read-more-btn {
  color: var(--secondary);
  padding: var(--base-spacing);
  border-radius: var(--base-spacing);
  display: inline-block;
  font-size: calc(var(--base-spacing) * 2);
  font-weight: bold;
  /* align-self: center; */
}

.footer {
  padding: calc(var(--base-spacing) * 0.5);
}

/* Contact form */

form {
  padding: var(--base-spacing);
  display: flex;
  flex-direction: column;
}

input,
textarea {
  border: solid thin black;
  max-width: 51vw;
}

form div {
  display: flex;
  flex-direction: column;
  margin: var(--base-spacing);
  max-width: 70vw;
}

input[type="tel"],
[type="email"],
[type="text"] {
  border-radius: 30px;
  padding: 0.2em;
  font-size: 1em;
}

input[type="submit"] {
  max-width: calc(var(--base-spacing) * 8);
  min-height: calc(var(--base-spacing) * 2);
  text-align: center;
  padding: 3px;
  border-radius: 30px;
}

textarea {
  border-radius: 15px;
}
/* media-queries for sml mobile screens */

@media screen and (min-width: 320px) and (max-width: 1023px) {
  h1 {
    font-size: calc(var(--base-spacing) * 3);
  }

  img {
    height: 160px;
  }

  form {
    align-items: center;
  }
}

/* media-queries for tablet*/

@media screen and (min-width: 768px) {
  img {
    height: 190px;
  }

  h1 {
    font-size: calc(var(--base-spacing) * 5);
  }

  .read-more-btn {
    color: var(--secondary);
    padding: var(--base-spacing);
    border-radius: var(--base-spacing);
    display: inline-block;
    font-size: calc(var(--base-spacing) * 2);
    font-weight: bold;
    align-self: center;
  }

  .is-hidden--tablet {
    height: 0;
    font-size: 0;
  }

  footer ul {
    justify-content: space-evenly;
  }
}

/* media queries for desktop */

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    padding: var(--base-spacing);
  }

  figure {
    margin-right: calc(var(--base-spacing) * 2);
  }

  .is-hidden--desktop {
    height: 0px;
    font-size: 0px;
  }

  .is-shown--desktop {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    /* min-height: 10px; */
  }

  nav a {
    color: var(--primary-text);
    font-weight: bold;
  }

  .flex-container--desktop-flexrow--desktop {
    display: flex;
    flex-direction: row;
  }

  section p {
    margin-bottom: auto;
  }

  h1 {
    font-size: calc(var(--base-spacing) * 6.5);
  }

  img {
    height: 220px;
  }

  footer li {
    font-weight: bold;
  }

  label {
    font-size: 1.2em;
  }
}

/* javascript classes error messages */

.is-error {
}

.is-success {
}

